{% load static %}
<html>
    <head>
        <title>temprature Converter</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" href={% static 'allconverter/main.css' %}>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600;800;900&display=swap" rel="stylesheet">
        <script type="text/javascript" src={% static 'allconverter/temprature.js' %}></script>
    </head>
    <body>
               
           <div class="menu">
               <div class="menu-items">
                
                <a href={% url 'index' %} class="p0" >Home</a>
                <a href={% url 'length' %} class="p1">Length</a>
                <a href={% url 'volume' %} class="p2">Volume</a>
                <a href={% url 'speed' %} class="p3">Speed</a>   
                <a href={% url 'area' %} class="p4">Area</a> 
                <a href={% url 'mass' %} class="p5">Mass</a> 
                <a href={% url 'data' %} class="p6">Data</a> 
                <a href={% url 'time' %} class="p7">Time</a> 
               </div>
           </div>
      <div class="box">

        <div class="converter">
            <div class="title">
                Temprature
            </div>
            <div class="cn">
                <div class="cn-2">
                    <div class="cn-3">    <input  class="myinput "type="number" id="inp" placeholder="Enter value">
              
                        <select class="selectopt" id=iparam>
                            <option hidden disabled selected value> -- select an option -- </option>
                            <option value="C">Celsius</option>
                            <option value="F">Fahrenheit</option>
                            <option value="K">Kelvin</option>
                        </select> 
                    
                    </div>
                    <div class="cn-33 equals">   
                        <!-- <img  style="width:100%;  border-radius:60px; box-shadow:1px 1px 500px #050d1b;"src={% static 'allconverter/line.gif' %}> -->
                        <!-- <img  style="width: 100%; height:200px;"src={% static 'allconverter/line.gif' %}> -->
                    
                  =
                    </div>
                    <div class="cn-3">

                        <input  class="myinput"type="number" id="oup"  placeholder="Enter value">
                        <select class="selectopt" id=oparam >
                            <option hidden disabled selected value> -- select an option -- </option>
                            <option value="C">Celsius</option>
                            <option value="F">Fahrenheit</option>
                            <option value="K">Kelvin</option>
                        </select> 
                    

                    </div>
                </div>
            </div>
        </div>
      </div>
<!--       
      <select class="form-select" id=iparam>
        <option hidden disabled selected value> -- select an option -- </option>
        <option value="C">Celsius</option>
        <option value="F">Fahrenheit</option>
        <option value="K">Kelvin</option>
    </select> 

    <input class="form-control" type="number" id="inp"> 

    <select class="form-select" id=oparam>
        <option hidden disabled selected value> -- select an option -- </option>
        <option value="C">Celsius</option>
        <option value="F">Fahrenheit</option>
        <option value="K">Kelvin</option>
    </select> <br>

    <input class="form-control" type="number" id="oup"> -->
    </body>
</html>